= form.select filter.param,
           options_for_select(filter.options, filter.describe(search_params)),
           { include_blank: true },
           { class: "custom-select" }.merge(filter.html_options)
